footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-top: 1px solid $teal;
    background: linear-gradient(180deg, #0000007d 100%, #ffffff1a 200%);
    box-shadow: 0px 4px 24px 0px #23105e40;
    backdrop-filter: blur(22.5px);

    .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        gap: 8%;
        padding-left: 10px;
        padding-right: 10px;
        background: #3b746f;

        @media (max-width: 768px) {
            display: block;
        }

        .foot-left {
            width: 100%;
            background: #743b3b;
        }
        .foot-right {
            width: 100%;
            background: #50743b;
        }
      
    }

}

// footer bottom wave style
.footer-wave {
    overflow-y: hidden;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background: linear-gradient(180deg, #0000007d 100%, #ffffff1a 200%);
    backdrop-filter: blur(22.5px);

    img {
        width: 100%;
        height: 30px;
    }
}
