footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-top: 1px solid #568bfc4a;
    background: linear-gradient(180deg, #0000007d 100%, #ffffff1a 200%);
    box-shadow: 0px 4px 24px 0px #23105e40;
    backdrop-filter: blur(22.5px);

    .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        gap: 16%;
        padding-left: 10px;
        padding-right: 10px;

        @media (max-width: 768px) {
            display: block;
        }

        // .footer-side-text {
        //     padding-top: 30px;
        //     width: 100%;
        //     &::before {
        //         content: "";
        //         display: inline-block;
        //         position: absolute;
        //         width: 60px;
        //         height: 60px;
        //         top: 0;
        //         left: 0;
        //         transform: translate(-20%, -70%) rotate(20deg);
        //         background-image: url(../../assets/18.jpg);
        //         background-size: cover;
        //     }
        //     h2 {
        //         font-size: 32px;
        //     }
        //     p {
        //         color: $dark-txt;
        //         padding: 20px 0px;
        //     }
        //     .footer-btns {
        //         display: flex;
        //         gap: 20px;
        //         padding-bottom: 40px;
        //         button {
        //             padding: 15px 20px;
        //         }
        //     }
        // }

        // .footer-form {
        //     width: 100%;
        //     background: linear-gradient(180deg, #262626 0%, #010101 100%);
        //     border-radius: 25px;
        //     margin: 50px 0px 80px 0px;
        //     padding: 20px 25px 20px 25px;

        //     @media (max-width: 992px) {
        //         margin-left: 0%;
        //     }

        //     .form-row {
        //         margin-bottom: 30px;
        //         p {
        //             margin-bottom: 10px;
        //             font-size: 18px;
        //         }
        //         input {
        //             width: 100%;
        //             padding: 15px 15px;
        //             outline: none;
        //             font-size: 18px;
        //             border-radius: 10px;
        //             border: none;
        //             color: #010101;
        //         }

        //         .message-inp {
        //             width: 100%;
        //             padding: 15px 15px;
        //             outline: none;
        //             font-size: 18px;
        //             border-radius: 10px;
        //             border: none;
        //             color: #010101;
        //         }
        //     }
        //     .btn {
        //         width: 100% !important;
        //         padding-top: 16px;
        //         padding-bottom: 16px;
        //     }
        // }
    }
    .copy-rights {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        p {
            color: $dark-txt;
        }
    }
    .footer-wave {
        position: absolute;
        overflow-y: hidden;
        width: 100vw;
        left: 0;
        height: 20px;
        background: #dba6a6;

        img {
            width: 100%;
            height: 30px;
        }
    }
}
