.about-page {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	align-self: center;
	justify-content: center;
	
	@media (max-width: 768px) {
		height: 70vh;
	}
	@media (max-width: 562px) {
		height: 50vh;
	}

	.spoted-rectangle {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;

		@media (max-width: 992px) {
			height: 80vh;
		}
		@media (max-width: 768px) {
			height: 70vh;
		}
		@media (max-width: 562px) {
			height: 60vh;
		}

		.rectangle {
			position: absolute;
			display: grid;
			grid-template-columns: repeat(60, 20px);
			grid-gap: 5px;
			width: 100%;
			height: 100%;
			margin: auto;
			max-width: 1500px;
			.spot {
				width: 2px;
				height: 2px;
				background-color: #34c8e8;
				cursor: pointer;
			}
			img {
				width: 100vw;
				max-width: 1500px;
				
			}
		}
	}

	.container {
		padding-top: 40px;
		.about-me-txt {
			padding-top: 20px;
			font-size: x-large;
		}
		.about-disc-txt {
			padding-top: 5%;
			font-size: xx-large;
			line-height: 250%;
			span {
				color: #34c8e8;
			}

			@media (max-width: 992px) {
				font-size: larger;
			}
			@media (max-width: 768px) {
				font-size: medium;
			}
			@media (max-width: 562px) {
				font-size: medium;
			}
		}
	}
}
