.brands {
	width: 100%;
	height: auto;
	display: flex;
	align-self: center;
	justify-content: center;
	padding-bottom: 40px;

	.container {
		video {
			width: 100%;
			border-radius: 20px;
		}
		canvas {
			// position: fixed;
			// left: 50%;
			// top: 50%;
			// transform: translate(-50%, -50%);
			// max-width: 100vw;
			// max-height: 100vh;
			
		}
	}
}
