.brands {
	width: 100%;
	height: auto;
	display: flex;
	align-self: center;
	justify-content: center;
	padding-bottom: 40px;

	.container {
		video {
			width: 100%;
			border-radius: 20px;

		}
	}
}
